
body {
  background-color: #0e0e10;  
  color: #fbfbfb;
  margin: 0;
  font-family: 'GothamNarrow', sans-serif;
  padding: 0;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

#topbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #ede8e8;
  border-bottom: 1px solid #333;
  z-index: 999;
  transition: top 0.3s;
  display: flex;
  justify-content: left;
  align-items: center;
}

.logo {
  height: 120px;  
  align-items: left;
}

.hero2 {
  height: 350px;
  align-items: left;
}

.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 80px;
}

.hero-img {
  width: 100%;
  height: auto;
  display: block;
}

.hero h1 {
  font-size: 3rem;
  font-family: 'Gotham Narrow';
  color: #f1d99b;
  text-shadow: 3px 3px 7px #000;
  margin: 0;
  letter-spacing: 5px;  
}

.hero p {
    font-size: 1rem;
    font-family: 'Gotham Narrow';
  color: #fcfaf8;
  text-shadow: 3px 3px 7px #000;
  margin: 0;
  letter-spacing: 3px;    
    
}

.navbox {
  background-color: #2a2a2e;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gotham Narrow';
  
  background-image: url("img/badge\ 2.png");
  background-size: cover;
  Background-position: center;
  background-repeat: no-repeat;

  Height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position:relative;
  z-index: 1;
  color: #fbf8f3;
}

.navlist {
  list-style: none;
  display: flex;
  gap: 3rem;
  margin: 0;
  padding: 0;  
  align-items: center;
  justify-content: center;
}

.navlist li a {
  display: block;
  padding: 0.7rem 2rem;
  background-color: #1f1f1f;
  border: 2px solid #f1d99b;
  border-radius: 5px;
  color: #f1d99b;
  text-decoration: solid;
  font-weight: bold;
  transition: all 0.3s ease;  
}

.navlist li a:hover {
  background-color: #f1f1f1;
  color: #0e0e10;  
}

.box-novità {
  background-color: #ede8e8;
  padding: 3rem 2rem;
  margin-top: 3px;
  max-width: 2000px;
  box-shadow: 0 0 20px #00000055;
  color: #f2e9dc;
  text-align: center;
}

.box-novità h2 {
  font-size: 2.5rem;
  color: #000;
  font-family:'gotham narrow';
  font-style: bold;
  margin-bottom: 3rem;
}

.news-cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.card {
  width: 280px;
  height: 280px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #f2e9dc;
  background-color: #fbfbff;
  box-shadow: 0 0 10px #00000066;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px #d4af37aa;
}

.card-img {
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.card h3 {
  position:absolute;
  bottom: 0;
  text-align: center;
  z-index:auto;
  padding: 1rem;
  font-family: 'Gotham Narrow';
  font-size: 1.5rem;
  font-weight: bolder;
  color:#000000;
}

.Benvenuto {
  background-color: #151515;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba (0,0,0,0.3);
  line-height: 1.5;
  font-size: 1.1rem;
  text-align: center;
  border: 1px solid #f1d99b;
}
 .Benvenuto h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #f1d99b;
 }
 .Benvenuto p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: medium;
  margin-left: 5%;
  margin-right: 5%;
 }


 