body {
  background-color: #0e0e10;  
  color: #fbfbfb;
  font-family: 'Segoe UI', Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

#topbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #ede8e8;
  border-bottom: 1px solid #333;
  z-index: 1000;
  transition: top 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 150px;  
  align-items: center;
}



.hero {
  height: 30vh;
  background-color: #6e6e6e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 60px;
  position: relative;
  z-index: 1;

  background-image: url("img/badge.png");
  background-size: cover;
  Background-position: center;
  background-repeat: no-repeat;

  Height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position:relative;
  z-index: 1;
  color: #fbf8f3;

}

.hero h1 {
  font-size: 3rem;
  color: #f1d99b;
  text-shadow: 4px 4px 10px #000;
  margin: 0;
  letter-spacing: 5px;  
}

.hero p {
    font-size: 1rem;
  color: #fcfaf8;
  text-shadow: 4px 4px 10px #000;
  margin: 0;
  letter-spacing: 3px;    
    
}

.navbox {
  background-color: #2a2a2e;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-image: url("img/badge\ 2.png");
  background-size: cover;
  Background-position: center;
  background-repeat: no-repeat;

  Height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position:relative;
  z-index: 1;
  color: #fbf8f3;
}

.navlist {
  list-style: none;
  display: flex;
  gap: 3rem;
  margin: 0;
  padding: 0;  
  align-items: center;
  justify-content: center;
}

.navlist li a {
  display: block;
  padding: 0.7rem 2rem;
  background-color: #1f1f1f;
  border: 2px solid #f1d99b;
  border-radius: 5px;
  color: #f1d99b;
  text-decoration: solid;
  font-weight: bold;
  transition: all 0.3s ease;  
}

.navlist li a:hover {
  background-color: #f1f1f1;
  color: #0e0e10;  
}

.Benvenuto {
  background-color: #151515;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba (0,0,0,0.3);
  line-height: 1.6;
  font-size: 1.1rem;
  text-align: center;
}
 .Benvenuto h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #f1d99b;
 }
 .Benvenuto p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: medium;
  margin-left: 5%;
  margin-right: 5%;
 }